.container {
  border: 1px solid red;
}
.row {
  border: 1px solid #000;
}
.col {
  border: 1px solid blue;
}
.pink {
  background: pink;
}
.orange {
  background: orange;
}
.blue {
  background: blue;
}
.red {
  background: red;
}
.green {
  background: green;
}
